
* {
    margin: 0;
    padding: 0;
}

.background-content {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.loader {
    height: 200px;
    width: 200px;
    background-image: linear-gradient(to right top, #FB0712, #124FEB);
    border-radius: 50%;
    position: relative;
    animation: rotate 2s infinite;
    transition: all 2s
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        background-image: linear-gradient(to right top, #FB0712, #124FEB)
    }

    100% {
        transform: rotate(360deg);
        background-image: linear-gradient(to right top, #BA1018, #12EBAE)
    }
}

.loader:after {
    content: '';
    position: absolute;
    background-color: #000;
    width: 190px;
    height: 190px;
    top: 10px;
    border-radius: 50%
}